@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #d4a373;
  --color-card: var(--card-bg);
  --color-card-hover: var(--card-hover);
  --font-roboto: var(--font-roboto), ui-sans-serif, system-ui;
  --font-asimovian: var(--font-asimovian), sans-serif;
  --animate-shimmer: shimmer 2s linear infinite;
}

@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

:root {
  --background: #ffffff;
  --foreground: #121212;
  --card-bg: #f4f4f5;
  --card-hover: #ebebed;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --card-bg: #202020;
  --card-hover: #282828;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-roboto);
  }
}

@layer components {
  .my-container {
    @apply flex justify-between items-center px-4 md:px-10 xl:px-20;
  }
}
