@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #d4a373;
  --color-card: var(--card-bg);
  --font-roboto: var(--font-roboto), ui-sans-serif, system-ui;
  --font-asimovian: var(--font-asimovian), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #121212;
  --card-bg: #f4f4f5;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --card-bg: #202020;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-roboto);
  }
}

@layer components {
  .my-container {
    @apply flex justify-between items-center px-20;
  }
}
