@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
}

@layer base {
  body {
    font-family: var(--font-roboto), sans-serif;
    @apply bg-background text-foreground antialiased;
  }
}
